<!-- <h1 class="text-xl font-semibold mb-4">Dashboard</h1> -->

<div class="grid grid-cols-1 md:grid-cols-4 gap-6">

  <div class="bg-white p-6 rounded shadow-sm text-center">
    <p class="text-slate-600">Users</p>
    <div class="text-3xl font-bold" id="dUsers"></div>
  </div>

  <div class="bg-white p-6 rounded shadow-sm text-center">
    <p class="text-slate-600">Movies</p>
    <div class="text-3xl font-bold" id="dMovies"></div>
  </div>

  <div class="bg-white p-6 rounded shadow-sm text-center">
    <p class="text-slate-600">Shows</p>
    <div class="text-3xl font-bold" id="dShows"></div>
  </div>

  <div class="bg-white p-6 rounded shadow-sm text-center">
    <p class="text-slate-600">Screens</p>
    <div class="text-3xl font-bold" id="dScreens"></div>
  </div>

</div>

<script>
(async () => {
  const userdata = await fetch(`${API_BASE}/users`).then(r => r.json());
  const moviesdata = await fetch(`${API_BASE}/allmovies`).then(r => r.json());
  const showsdata = await fetch(`${API_BASE}/getallshows`).then(r => r.json());
  const screensdata = await fetch(`${API_BASE}/getscreens`).then(r => r.json());
  
  const users = userdata.users || [];
  const movies = moviesdata.movies || [];
  const screens = screensdata.screens || [];
  const shows = showsdata.shows || [];

  document.getElementById("dUsers").textContent = users.length;
  document.getElementById("dMovies").textContent = movies.length;
  document.getElementById("dShows").textContent = shows.length;
  document.getElementById("dScreens").textContent = screens.length;
})();
</script>
